[submodule "sentinel-vmi"]
	path = sentinel-vmi
	url = https://github.com/nevinshine/sentinel-vmi.git
[submodule "telos-runtime"]
	path = telos-runtime
	url = https://github.com/nevinshine/telos-runtime.git
[submodule "hyperion-xdp"]
	path = hyperion-xdp
	url = https://github.com/nevinshine/hyperion-xdp.git
[submodule "telos-lang"]
	path = telos-lang
	url = https://github.com/nevinshine/telos-lang.git
